<p id="notice">
  <%= flash[:notice] %>
</p>

<p><strong>Title:</strong><%= @book.title %></p>
<p><strong>Body:</strong><%= @book.body %></p>

<%= link_to 'Edit', edit_book_path(@book.id) %>

<font style="vertical-align: inherit;">
  <font style="vertical-align: inherit;">|</font>
</font>

<%= link_to 'Back', '/books' %>